extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main
    +alert-error(5000)
    +alert-success(5000)
    h1 Chỉnh sửa sản phẩm
    //- enctype="multipart/form-data"
    form(
        action=`${prefixAdmin}/product/edit/${product._id}?_method=PATCH`
        method="POST"
        id="form-edit-product"
        enctype="multipart/form-data"
    )
        .form-group
            label(for="title") Tiêu đề
            input(
                type="text"
                name="title"
                id="title"
                class="form-control"
                placeholder="Enter name"
                value=product.title
            )
        .form-group
            label(for="price") Giá
            input(
                type="number"
                name="price"
                id="price"
                class="form-control"
                placeholder="Enter price"
                value=product.price
            )
        .form-group(
            upload-img
        )
            label(for="thumbnail") Hình ảnh
            input(
                type="file"
                name="thumbnail"
                id="thumbnail"
                class="form-control-file"
                value=""
                accept="image/*"
                input-img
            )
            .image-preview-container(style="position: relative; max-width: 200px; width: 200px; display: none;  margin-top: 10px;")
                img(
                    style="width: 100%; height: 100%; object-fit: cover;"
                    src=product.thumbnail
                    preview-img
                )
                span(
                    close-img
                    class="btn btn-close-preview-img"
                    style="display: none; position: absolute; top: 10px; right: 10px; cursor: pointer; background: white; padding: 2px; border-radius: 50%;"
                ) X
        .form-group
            label(for="stock") Số lượng
            input(
                type="number"
                name="stock"
                id="stock"
                class="form-control"
                placeholder="0"
                value=product.stock
            )
        .form-group
            label(for="discount") Giảm giá
            input(
                type="number"
                name="discountPercentage"
                id="discount"
                class="form-control"
                placeholder="0"
                value=product.discountPercentage
            )
        .form-group
            label(for="position") Vị trí
            input(
                type="number"
                name="position"
                id="position"
                class="form-control"
                placeholder="Tự động tăng"
                value=product.position
            )
        .form-group
            label(for="description") Mô tả
            textarea(
                name="description"
                id="description"
                class="form-control"
                placeholder="Nhập mô tả"
                value=""
            ) #{product.description}
        .form-group
            label.mr-3(for="status") Trạng thái
            label.mr-3
                input(
                    type="radio"
                    name="status"
                    value="Active"
                    checked=(product.status == "Active")
                ).mr-2
                | Đang bán
            label
                input(
                    type="radio"
                    name="status"
                    value="Inactive"
                    checked=(product.status == "Inactive")
                ).mr-2
                | Đã dừng bán
        button.btn.btn-primary(type="submit") Cập nhật
    script(src="/admin/js/product.js")